body{
	margin: 0 0 0 0;
	font-family: "proxima-nova", sans-serif;
	color: #555555;
	min-width: 735px;
	background-color:#f3f3f3;
	position: relative;
	text-shadow:  0 1px 0 rgba(255, 255, 255, 0.4);
	z-index: -1;
}
.editable{
	cursor: text;
}
.non_editable{
	cursor: default;
}
/* HELP STYLING */
#help_group_name{
	font-size: 0.65em;
}
#front_page_help{
	position: fixed;
	bottom: 0px;
}
/* Help box arrow custom positions */
#help_settings i:first-of-type{
	position: absolute;
	right: 90px;
}
#help_edit_person i:first-of-type{
	position: absolute;
	left: 8px;
}
#help_finalize i:first-of-type{
	position: absolute;
	right: 145px;
}
#front_page_help > .help_box{
	margin: 5px;
	width: 200px;
	float: left;
	-webkit-border-bottom-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	border-top: 1px #EEE8FF solid;
}
#front_page_help > .help_box i{
	font-size: 1.3em;
}

.adduser_help_offset{
	bottom: 100px !important;
}
.help_box{
	padding: 5px;
	text-align: center;
	font-size: 0.9em;
	color: #A3A3A3;
	text-shadow: none;
	display: none;
	background-color: #EAF7FF;
	font-family: "Courier New", Courier, monospace;
	position: relative;
	/*border: 3px #E9E7EF solid;*/
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	border-top:none;

}
.help_box i{
	color:#C6BDDD;
	text-align: left;
	text-shadow: 0px 0px 10px #fff;
}
.expense:not(:first-of-type) .help_box{
	display:none !important;
}

#totals h3{
	margin-left: 15px;
}
#expense_area{
	margin-right: 300px;
}
#group_name{
	text-align: center;
	font-size: 22px;
}
#group_title{
	font-size: 22px;
}
#totals{
	float:right;
}
.positive_amount:before{
	content: "+";
}
#payment{
	float:right;
}
#right_info_background{
	width: 299px;
	position: fixed;
	top:0px;
	bottom: 0px;
	z-index: -10;
	background-color:#fafafa;
	border-left:1px #EEE8FF solid;
}
#right_info_bar{
	width:301px;
	float:right;
	min-height: 100%;
}
#bar_top{
	background-color: #fcfcfc;
	border-bottom: 1px #f8f8f8;
}
/*Fixed position below results in the controls sliding right on a small screen*/
/*Absolute Positon below results in */
#right_control_bar{
	z-index: 10;
	position: fixed;
	bottom: 0px;
	right: 0px;
	width: 300px;
	background-color: #fafafa;
	border-top: 1px #eeeeee solid;
}
.maximum_z_index{
	z-index: 100;
}
#logo{
	font-size: 36px;
	text-align: center;
}
.expense{
	background-color: white;
	float: left;
	margin:10px;
	width: 400px;
	-webkit-border-bottom-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;

}
.email{
	text-align: center;
	width: 90%;
	color: #888888;
}
.email:hover{
	color: #555555;
}
.expense_total{
	float: right;
	margin-right: 10px;
	font-size: 1.3em;
	line-height: 1.3em;

}
#share p{
	color: #888888;
}
.expense_header{
	background-color:#8fd0ff; 
	padding: 2px;
}
.edit_person_wrapper{
	background-color: #fafafa;
	border-bottom: 1px solid #e7e7e7;
	border-top: 1px solid #dadada;
	display: none;
	text-align: center;
	padding: 3px;
}
.expense_header button{
	margin-bottom: 5px;
}
.expense_table tr{
	border:1px solid black;
	height: 20px;
}
input{
	border: none;
	background-color: transparent;
	margin: 0;
	padding-left: 3px;
	font-family: Verdana, Geneva, sans-serif;
	color: #555555;
	text-shadow:  0 1px 0 rgba(255, 255, 255, 0.2);
}
.expense_table input{
	border: none;
	background-color: transparent;
	margin: 0;
	font-size: 16px;
	padding-left: 3px;
	font-family: Verdana, Geneva, sans-serif;
	color: #555555;
	width: 100%;
}

.expense_owner input{

	font-size: 16pt;

}
.expense_table{
	width: 400px;
	border-spacing: 0px;
}
.expense_table tr td button{
	visibility: hidden;
}
.expense_table tr:hover td button{
	visibility: visible;
}
.expense_header button{
	margin-left: 6px;
}
.expense_header:hover button{

	visibility: visible;
}
.expense_button{
	border: 0px solid #F3F3F3;
	background-color: transparent;
	cursor:pointer;
	height: 12px;
	background-repeat: no-repeat;

}
.color{
	width: 10em;
	padding: 0px;
}
.expense_button:hover{
	background-repeat: no-repeat;
}
.delete{
	color:#d2d2d2;
}
.delete:hover{
	color:#ff6e6b;
}
.comment{
	color: #d2d2d2;
}
a{
	color: #555555;
}
.bottom_buttons{
	width: 4.4em;
	width: 11.5em;
	margin-left: auto;
	margin-right: auto;
}
.finalize{
	color: #d2d2d2;
}
.finalize:hover{
	color: #9c9c9c;
}
.finalized{
	color: #9ACA65;
}
.bottom_buttons button{
	font-size: 1em;
	height: auto;
}
.add{
	color: #d2d2d2;
	visibility: visible !important;
	background-position: center;
}
.add:hover{
	color: #9c9c9c;
	visibility: visible;
}
.edit{
	color: #f3f3f3;

	font-size: 18px;
	background-position: left center;
	height: 16px;
	width: 16px;
	padding: 0px;
}
.odd_row{
	background-color: #fafafa;
	border-top: 1px solid #dddddd;
}
.row{
	border-top: 1px solid #dddddd;
}
#breakdown_header{
	display: none;
	font-size: 18pt;
	margin: 3px;
	margin-left: 10px;
	padding-bottom: 3px;
}
table{
	border-spacing: 0px;
}
#breakdown_table{
	width: 300px;
	background-color:white;
	border-spacing: 0px;
	border-bottom: #F5F5F5 1px solid;
	border-top: #F7f7f7 1px solid;
}
#breakdown_table td{
	padding: 3px;
	padding-left: 10px;	
}
#total_header{
	font-size: 20px;
	background-color: #fcfcfc;
}

#average_row td{
	font-size: 17px;
	background-color: #fcfcfc;
}
td{
	border-top: 1px solid #F7F7F7;
}
#payment_header{
	font-size: 18pt;
	margin:3px;
	margin-left: 10px;
	padding-bottom: 3px;
	display: none;
}
#payment_table{
	width: 300px;
	background-color:white;
	border-spacing: 0px;
}
#payment_table td{
	padding-left: 10px;
}
#payment{
	margin-top: 40px;
	padding-bottom: 103px;
}
#advertisement{
	font-size: 8pt;
	padding:5px;
	background-color:white;
	border-top: solid 1px #ededed;
	z-index:10;
}

#advertisement img{
	width: 250px;
}
.date input{
	font-size: 10pt;
}
.cost input{
	width:6em;
	text-align: right;
	padding-right: 3px;
}
#add_user{
	float: left;
	margin: 10px;
	width:400px;
	text-align: center;
}
#add_user button{
	border:0;
	color:#aaaaaa;
	font-size:1em;
	background-color:transparent;
}
#add_user button:hover{
	color:#777777;
	cursor: pointer;
}
#settings_buttons{
	text-align: center;
	background-color: #fafafa;
}
#settings_buttons button{
	background: transparent;
	border: none;
	cursor: pointer;
}
.faux_button{
	font-size: 15px;
	padding: 3px;
	cursor: pointer;
	text-align: center;
}
.faux_button::-webkit-input-placeholder { /* WebKit browsers */
	color: #888888;
}
.faux_button:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
	color: #888888;
}
.faux_button::-moz-placeholder { /* Mozilla Firefox 19+ */
	color: #888888;
}
.faux_button:-ms-input-placeholder { /* Internet Explorer 10+ */
	color: #888888;
}
.faux_button:hover::-webkit-input-placeholder { /* WebKit browsers */
	color: #555555;
}
.faux_button:hover:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
	color: #555555;
}
.faux_button:hover::-moz-placeholder { /* Mozilla Firefox 19+ */
	color: #555555;
}
.faux_button:hover:-ms-input-placeholder { /* Internet Explorer 10+ */
	color: #555555;
}
#add_new_person{
	float: left;
	margin:15px;
	border: 1px solid #e7e7e7;
	background-color: white;
}
#add_new_person_header{
	padding: 3px;
	background-color:#DCD2FA;
	padding-left: 8px;
}
.align_right{
	text-align: right;
	padding: 3px;
	padding-left: 6px;
}
.align_center{
	text-align: center;
}
.text_button{
	background: transparent;
	border: none;
	cursor: pointer;
	color: #888888;
	font-size: 16px;
}
.text_button:hover{
	color: #555555;
}
#settings{
	display:none;
	background-color: #fafafa;
	padding:8px 0;
	text-align: center;
}
#extras input{
	text-align: center;
}
#share{
	display:none;
	padding:8px 0;
	background-color: #fafafa;
	text-align: center;
}
p{
	margin: 8px 0;
}
#share input{
	font-size:12pt;
	margin-bottom:3px;
}
#settings_header{

	padding: 3px;
	font-size:14pt;
	margin-left: 10px;

}
#settings button{
	padding: 3px;
	background: transparent;
	border: none;
	cursor: pointer;
	margin: 0;
}
.arrow_right{
	width: 0; 
	height: 0; 
	border-top: 9px solid transparent;
	border-bottom:9px solid transparent;
	
	border-left: 18px solid #8fd0ff;
}
.arrow_box{
	background-color: #8fd0ff;
}
.negative_amount{
	color: #DA7F7F;
}
.delete_confirmation{
	font-weight: bold;
}
.new_row{
	display: none;
}
#extras{
	width:100%;
	z-index:5;
	background-color: inherit;
	padding-bottom: 5px;
}
.extras_up{
	bottom:235 !important;
}
.money_sign:first-letter{
	vertical-align:super;
	font-size:0.6em;	
	padding-right: 3px;
}
.clear_element{
	clear:both;
}
.updating{
	color: #888888;
	@-webkit-keyframes blinker { from {opacity:1.0;} to {opacity:0.0;} }
        @keyframes blinker { from {opacity:1.0;} to {opacity:0.0;} }
}

.blink {
   text-decoration:blink;

  -webkit-animation-name:blinker;
          animation-name:blinker;  
  -webkit-animation-iteration-count:infinite;  
          animation-iteration-count:infinite;  
  -webkit-animation-timing-function:cubic-bezier(1.0,0,0,1.0);
          animation-timing-function:cubic-bezier(1.0,0,0,1.0);
  -webkit-animation-duration:1s; 
          animation-duration:1s; 
}

.edit_open{
	margin-bottom: 126px;
}
#update_display{
	position: fixed;
	bottom: 0px;
	left: 0px;
	margin: 4px 	8px;
	color: #969696;
	font-size: 0.7em;
	font-family: "Courier New", Courier, monospace;
	z-index: -100;
}
.deleting{
	text-decoration:line-through;
}
#empty_expense{
	display: none;
}
#about{
	display: none;
	font-size: 14px;
	text-align: center;
}
#about a{
	text-decoration: none;
	color: #999999;
}
.selected_button{
	border-bottom: 2px solid #999999 !important;
}
#blackout{
	display: none;
	background-color: rgba(0, 0, 0, 0.5);
	position: fixed;
	z-index: 15;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
}

#centered{
	display: none;
	margin-top: 25%;
	font-size: 18px;
	text-align: center;
	z-index: 20;
	color: #dddddd;
	text-shadow: 0px 0px 30px rgba(0, 0, 0, 0.5);
}

#warning{
	text-align: center;
	background-color: #ffe0b8;
	padding: 3px;
	font-size: 0.8em;
}
#close_warning{
	float: right;
	margin-right: 10px;
	padding: 0px;
	margin: 0px;
}
#warning i{
	margin:0px 8px;
}
.modal{
	font-size: 16px;
	color: #dddddd;
	text-shadow: 0px 0px 30px rgba(0, 0, 0, 0.5);
}
.modal:hover{
	color: #fcfcfc;
}
.delete_person:hover{
	color:#ff6e6b;
}
#intro{
	margin-top: 50px;
	text-align: center;
	padding: 10px;
	cursor: default;
}
#intro p{
	font-size: 1.5em;
	margin: 25px 0;
}
#intro a{
	text-decoration: none;
}
#intro h1{
	font-size: 4em;
	font-weight: normal;
}
#intro p:last-of-type{
	color:#888888;
	font-size: 1em;
	margin: 0px;
}
#intro button{
	font-size: 2em;
}
/*********** Mobile ***********/
@media only screen and (max-width: 735px){
	.settings_row{
		margin-top: 20px;
		margin-bottom: 20px;
	}
	input{
		width: 80%;
	}
	#right_info_bar {
		width: 100%;
		text-align: center;
		right:0px;
		position: relative;
		background-color:#fafafa;
		border-bottom:1px #DCD2FA solid;
		float: none;
		min-height: inherit;	
	}
	#right_info_background{
		display: none;
	}
	#right_control_bar{
		width: 100%;
		position: absolute;
		bottom: auto;
		top:0px;
	}
	.expense_button{
		height: auto;
		font-size: 1.2em !important;
	}
	#payment, #totals{
		float: none;
	}
	#totals{
		margin-top: 10px;
	}
	#advertisement{
		display: none;
	}
	#add_user{
		margin:0px;
		margin-bottom: 18px;
		width: 100%;
		font-size: 1.6em;
	}
	#payment{
		margin-top: 20px;
		padding-bottom: 10px;
	}
	#breakdown_table, #payment_table{
		width: 100%
	}
	#breakdown_header, #payment_header{
		margin-left: 0px;
	}
	body{
		min-width: 100%;
	}
	.expense{
		float:none;
		width: inherit;
		border-bottom: 1px #D2d2d2 solid;
		border-top: 1px #979797 solid;
	}
	#expense_area{
		margin-right: 0px;
	}
	.expense_table{
		width: 100%;
	}
	#settings_buttons{
		margin-left:0px;
	}
	#share, #settings_buttons, #share, #logo{
		padding-left: 0px;
	}
	#group_name{
		padding-top: 80px;
		float: none;
	}
	.expense_owner input{
		font-size: inherit;
	}
	#intro{
		margin: 25% auto;
	}
	.edit_row{
		margin-top:10px;
		margin-bottom: 10px;
	}
	.color{
		text-align: center;
		height: 40px;
	}
	.negative_amount{
		color: #D29C9C;
	}
	#intro p{
		margin: 30px 0;
	}
	#add_user{
		margin-bottom: 6em;
		position: static;
		text-align: center;
	}
	#add_user button{
		margin-top: 1em;
	}
	#group_name{
		padding-top: 1em;
	}
	#total_header{
		color: #747474;
	}
	#total_header td{
		border: none;
	}
	#average_row td{
		color: #7E7E7E;
		border: none;
	}
	.bottom_buttons{
		width: 100%;
		margin-top: 10px;
		text-align: center;
		padding-bottom: 10px;
	}
	#update_display{
		display: none;
	}
	.sidebar_person_total{
		color: #999999;
		display: none !important;
	}
	.selected_button{
		border-bottom: 5px solid #999999 !important;
	}
	.expense{
		margin: 1.5em 0;
		width: 100%;
	}
	.expense_owner input{
		width: 6em;
	}
	.expense_total{
		padding-right: 20px;
	}
	.edit{
		width: auto;
	}
	.cost input{
		width: 4em;
		padding-right: 20px;
	}
	#payment_table td{
		color: #7e7e7e;
	}
	.row td button{
		padding: 0px;
	}
	body{
		background-color: #ece9e9;
	}
	#right_control_bar{
		position: fixed;
		bottom: 0px;
		top: auto;
		padding-bottom: 0.5em;
	}
	input{
		color: #5E5E5E;
		padding-right: 8px;
	}
	.expense_table input{
		color: #5E5E5E;
	}
	#front_page_help{
		position: static;
		width: 100%;
	}
	#front_page_help > .help_box{
		width: auto;
		margin-bottom: 50px;
	}
	#intro p:last-of-type{
		margin: 30px auto;
	}
	#extras{
		padding-top: 10px;
		border-top: 2px #EEE8FF solid;
	}

}

/* TIPSY */
.tipsy { font-size: 1em; position: absolute; padding: 5px; z-index: 100000; }
.tipsy-inner { background-color: #000; color: #FFF; max-width: 200px; padding: 5px 8px 4px 8px; text-align: center; }

/* Rounded corners */
.tipsy-inner { border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; }
  
/* Uncomment for shadow */
/*.tipsy-inner { box-shadow: 0 0 5px #000000; -webkit-box-shadow: 0 0 5px #000000; -moz-box-shadow: 0 0 5px #000000; }*/
  
.tipsy-arrow { position: absolute; width: 0; height: 0; line-height: 0; border: 5px dashed #000; }
  
/* Rules to colour arrows */
.tipsy-arrow-n { border-bottom-color: #000; }
.tipsy-arrow-s { border-top-color: #000; }
.tipsy-arrow-e { border-left-color: #000; }
.tipsy-arrow-w { border-right-color: #000; }

.tipsy-n .tipsy-arrow { top: 0px; left: 50%; margin-left: -5px; border-bottom-style: solid; border-top: none; border-left-color: transparent; border-right-color: transparent; }
.tipsy-nw .tipsy-arrow { top: 0; left: 10px; border-bottom-style: solid; border-top: none; border-left-color: transparent; border-right-color: transparent;}
.tipsy-ne .tipsy-arrow { top: 0; right: 10px; border-bottom-style: solid; border-top: none;  border-left-color: transparent; border-right-color: transparent;}
.tipsy-s .tipsy-arrow { bottom: 0; left: 50%; margin-left: -5px; border-top-style: solid; border-bottom: none;  border-left-color: transparent; border-right-color: transparent; }
.tipsy-sw .tipsy-arrow { bottom: 0; left: 10px; border-top-style: solid; border-bottom: none;  border-left-color: transparent; border-right-color: transparent; }
.tipsy-se .tipsy-arrow { bottom: 0; right: 10px; border-top-style: solid; border-bottom: none; border-left-color: transparent; border-right-color: transparent; }
.tipsy-e .tipsy-arrow { right: 0; top: 50%; margin-top: -5px; border-left-style: solid; border-right: none; border-top-color: transparent; border-bottom-color: transparent; }
.tipsy-w .tipsy-arrow { left: 0; top: 50%; margin-top: -5px; border-right-style: solid; border-left: none; border-top-color: transparent; border-bottom-color: transparent; }