body{
	margin: 0 0 0 0;
	font-family: Verdana, Geneva, sans-serif;
	color: #555555;
	min-width: 735px;
	background-color:#f3f3f3;
	position: relative;
	min-height: 100%;
}

html{
height: 100%;
}
#totals h3{
	margin-left: 15px;
}
#expense_area{
	margin-right: 300px;
}
#group_name{
	text-align: center;
	font-size: 22px;
	padding: 5px;
}
#totals{
	float:right;
}
#payment{
	float:right;
	display: none;
}
#right_info_background{
	width: 299px;
	position: absolute;
	top:0px;
	bottom: 0px;
	z-index: -10;
	background-color:#fafafa;
	border-left:1px #EEE8FF solid;
}
#right_info_bar{
	width:301px;
/*	position: relative;
	float:right;
	min-height: 100%;
	height: auto;*/
	position: absolute;
	top:0px;
	bottom: 0px;
	right: 0px;

}
#bar_top{
	background-color: #fcfcfc;
	border-bottom: 1px #f8f8f8;
}
/*Fixed position below results in the controls sliding right on a small screen*/
/*Absolute Positon below results in */
#right_control_bar{
	z-index: 10;
	position: fixed;
	bottom: 0px;
	right: 0px;
	width: 300px;
	background-color: #fafafa;
	border-top: 1px #eeeeee solid;
}
#logo{
	font-size: 36px;
	text-align: center;
}
.expense{
	background-color: white;
	float: left;
	margin:10px;
	width: 400px;
	/*border: 1px solid #e7e7e7;*/
	/*border-radius: 3px;*/
	-webkit-border-bottom-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;

}
.expense_total{
	float: right;
	margin-right: 10px;
	font-size: 16pt;
	cursor:not-allowed;
}
.expense_header{
	background-color:#8fd0ff; 
	padding: 2px;
}
.edit_person_wrapper{
	background-color: #fafafa;
	border-bottom: 1px solid #e7e7e7;
	border-top: 1px solid #dadada;
	display: none;
	text-align: center;
	padding: 3px;
}
.delete_person{
	background: transparent;
	border: none;
	cursor: pointer;
}
.expense_header button{
	margin-bottom: 5px;
}
.expense_table tr{
	border:1px solid black;
	height: 20px;
}
input{
	border: none;
	background-color: transparent;
	margin: 0;
	padding-left: 3px;
	font-family: Verdana, Geneva, sans-serif;
	color: #555555;
	cursor: pointer;
}
.expense_table input{
	border: none;
	background-color: transparent;
	margin: 0;
	font-size: 16px;
	padding-left: 3px;
	font-family: Verdana, Geneva, sans-serif;
	color: #555555;
}

.expense_owner input{

	font-size: 16pt;
}
.expense_table{
	width: 400px;
	border-spacing: 0px;
}
.expense_table tr td button{
	visibility: hidden;
}
.expense_table tr:hover td button{
	visibility: visible;
}
.expense_header button{
	visibility: hidden;
	/*margin-top: 4px;*/
	margin-left: 6px;
}
.expense_header:hover button{

	visibility: visible;
}
.expense_button{
	border: 0px solid #F3F3F3;
	background-color: transparent;
	cursor:pointer;
	height: 12px;
	background-repeat: no-repeat;

}
.expense_button:hover{
	background-repeat: no-repeat;
}
.delete{
	color:#d2d2d2;
}
.delete:hover{
	color:#ff6e6b;
}
.add{
	color: #d2d2d2;
	visibility: visible !important;
	width: 100%;
	background-position: center;
}
.add:hover{
	color: #9c9c9c;
	visibility: visible;
}
.edit{
	color: #f3f3f3;

	font-size: 18px;
	background-position: left center;
	height: 16px;
	width: 16px;
	padding: 0px;
}
.odd_row{
	background-color: #fafafa;
	border-top: 1px solid #dddddd;
}
.row{
	border-top: 1px solid #dddddd;
	background-color: white;

}
#breakdown_header{
	display: none;
	font-size: 18pt;
	margin: 3px;
	margin-left: 10px;
	padding-bottom: 3px;
}
table{
	border-spacing: 0px;
}
#breakdown_table{
	width: 300px;
	background-color:white;
	border-spacing: 0px;
	border-bottom: #F5F5F5 1px solid;
	border-top: #F7f7f7 1px solid;
}
#breakdown_table td{
	padding: 3px;
	padding-left: 10px;	
}
/*.sidebar_person_total td:first-child{
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#5b5b5b), color-stop(61%,#c4c4c4), color-stop(75%,#dddddd), color-stop(87%,#f2f2f2), color-stop(100%,#ffffff));
}*/
#total_header{
	font-size: 20px;
	background-color: #fcfcfc;
}
#total_header td{
	border-bottom: 1px #dbdbdb solid;
}
#average_row td{
	border-top: 1px #dbdbdb solid;
	font-size: 17px;
	background-color: #fcfcfc;
}
td{
	border-top: 1px solid #F7F7F7;
}
#payment_header{
	font-size: 18pt;
	margin:3px;
	margin-left: 10px;
	padding-bottom: 3px;
	display: none;
}
#payment_table{
	width: 300px;
	background-color:white;
	border-spacing: 0px;
	border-bottom: #F5F5F5 1px solid;
	border-top: #F5F5F5 1px solid;
}
#payment_table td{
	padding-left: 10px;
}
#payment{
	margin-top: 40px;
	padding-bottom: 103px;
}
#advertisement{
	font-size: 8pt;
/*	position: fixed;
	bottom: 0px;*/
	/*padding:25px;*/
	padding:5px;
	/*padding-bottom:15px;*/
	background-color:white;
	border-top: solid 1px #ededed;
	z-index:10;
}

#advertisement img{
	width: 250px;
}
.date input{
	font-size: 10pt;
}
.cost input{
	width:6em;
	text-align: right;
	padding-right: 3px;
}
#add_user{
	float: left;
	margin: 15px;
	width:400px;
	text-align: center;
}
#add_user button{
	border:0;
	color:#aaaaaa;
	font-size:15pt;
	background-color:transparent;
}
#add_user button:hover{
	color:#777777;
	cursor: pointer;
}
#settings_buttons{
	text-align: center;
	background-color: #fafafa;
}
#settings_buttons button{
	background: transparent;
	border: none;
	cursor: pointer;
}
.faux_button{
	font-size: 15px;
	padding: 3px;
	cursor: pointer;
	text-align: center;
}
.faux_button::-webkit-input-placeholder { /* WebKit browsers */
	color: #888888;
}
.faux_button:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
	color: #888888;
}
.faux_button::-moz-placeholder { /* Mozilla Firefox 19+ */
	color: #888888;
}
.faux_button:-ms-input-placeholder { /* Internet Explorer 10+ */
	color: #888888;
}
.faux_button:hover::-webkit-input-placeholder { /* WebKit browsers */
	color: #555555;
}
.faux_button:hover:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
	color: #555555;
}
.faux_button:hover::-moz-placeholder { /* Mozilla Firefox 19+ */
	color: #555555;
}
.faux_button:hover:-ms-input-placeholder { /* Internet Explorer 10+ */
	color: #555555;
}
#add_new_person{
	float: left;
	margin:15px;
	border: 1px solid #e7e7e7;
	background-color: white;
}
#add_new_person_header{
	padding: 3px;
	background-color:#DCD2FA;
	padding-left: 8px;
}
.align_right{
	text-align: right;
	padding: 3px;
	padding-left: 6px;
}
.align_center{
	text-align: center;
}
.text_button{
	background: transparent;
	border: none;
	cursor: pointer;
	color: #888888;
	font-size: 15px;
}
.text_button:hover{
	color: #555555;
}
#settings{
	/*width: 100%;*/
	display:none;
	background-color: #fafafa;
	padding:8px 0;
	text-align: center;
	/*padding-left: 20px;*/
	/*margin-bottom: 4px;*/
/*	background-color: #fcfcfc;
	border-bottom: 1px solid #e7e7e7;
	border-top: 1px solid #dadada;*/
}
#extras input{
	text-align: center;
}
#share{
	display:none;
	padding:8px 0;
	background-color: #fafafa;
	text-align: center;
}
p{
	margin: 8px 0;
}
#share input{
	font-size:12pt;
	margin-bottom:3px;
}
#settings_header{

	padding: 3px;
	font-size:14pt;
	margin-left: 10px;

}
#settings button{
	padding: 3px;
	/*margin-left: 15px;*/
	background: transparent;
	border: none;
	cursor: pointer;
	/*display:block;*/
	margin: 0;
}
.arrow_right{
	width: 0; 
	height: 0; 
	border-top: 9px solid transparent;
	border-bottom:9px solid transparent;
	
	border-left: 18px solid #8fd0ff;
}
.arrow_box{
	background-color: #8fd0ff;
}
.negative_amount{
	color: #DA7F7F;
}
.delete_confirmation{

	/*color: #F86C6C;*/
	font-weight: bold;
}
.new_row{
	display: none;
}
#extras{
/*	position:fixed;*/
	width:100%;
/*	bottom:224px;*/
	z-index:5;
	background-color: inherit;
}
.extras_up{
	bottom:235 !important;
}
.money_sign:first-letter{
	vertical-align:super;
	font-size:10pt;
	padding-right: 3px;
}
.clear_element{
	clear:both;
}
.updating{
	/*font-style: italic;*/
	color: #888888;
	@-webkit-keyframes blinker { from {opacity:1.0;} to {opacity:0.0;} }
        @keyframes blinker { from {opacity:1.0;} to {opacity:0.0;} }

.blink {
   text-decoration:blink;

  -webkit-animation-name:blinker;
          animation-name:blinker;  
  -webkit-animation-iteration-count:infinite;  
          animation-iteration-count:infinite;  
  -webkit-animation-timing-function:cubic-bezier(1.0,0,0,1.0);
          animation-timing-function:cubic-bezier(1.0,0,0,1.0);
  -webkit-animation-duration:1s; 
          animation-duration:1s; 
}
}
.edit_open{
	margin-bottom: 126px;
}
#update_display{
	/*position: fixed;*/
	/*bottom: 3px;*/
	/*left: 3px;*/
	color: #969696;
	max-height: 200px;
	font-family: "Courier New", Courier, monospace;
	text-align: center;
}
.deleting{
	/*background-color: rgba(255, 148, 148, 0.8);*/
	text-decoration:line-through;
}
#empty_expense{
	display: none;
}
#about{
	display: none;
	/*padding:5px;*/
	font-size: 14px;
	text-align: center;
}
#about a{
	text-decoration: none;
	color: #999999;
}
.selected_button{
	border-bottom: 2px solid #999999 !important;
}
#blackout{
	display: none;
	background-color: rgba(0, 0, 0, 0.5);
	position: fixed;
	z-index: 15;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
}
/*#centered{
	display: none;
	height: 13em;
	margin: auto;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;	
	font-size: 18px;
	text-align: center;
	z-index: 20;
	color: #dddddd;
}*/
#centered{
	display: none;
	margin-top: 25%;
	font-size: 18px;
	text-align: center;
	z-index: 20;
	color: #dddddd;
	text-shadow: 0px 0px 30px rgba(0, 0, 0, 0.5);
}
/*#warning{
	position: fixed;
	bottom: 0px;
	background-color: #ffe0b8;
	padding: 5px;
	z-index: -10;
	left: 50%;
	margin-left: -25em;
}*/
#warning{
	text-align: center;
	background-color: #ffe0b8;
	padding: 3px;
	font-size: 11px;
}
#warning i{
	margin:0px 8px;
}
.modal{
	font-size: 16px;
	color: #dddddd;
	text-shadow: 0px 0px 30px rgba(0, 0, 0, 0.5);
}
.modal:hover{
	color: #fcfcfc;
}
@media only screen and (max-width: 1120px){
  body{
  	font-size: 4em;
  }
  input{
  	font-size: 4em;
  }
  button{
  	font-size: 4em;
  }
  #right_info_bar {
    width: 100%;
    text-align: center;
    right:0px;
    position: relative;
    background-color:#fafafa;
	border-bottom:1px #DCD2FA solid;
  }
  #right_info_background{
  	display: none;
  }
  #right_control_bar{
  	width: 100%;
  	position: absolute;
  	bottom: auto;
  	top:0px;

  }
  #right_control_bar a{
	font-size: 16px;
}
  #payment, #totals{
  	float: none;
  }
  #totals{
  	margin-top: 10px;
  }
  #advertisement{
  	display: none;
  }
  #add_user{
  	margin:0px;
  	margin-bottom: 18px;
  	width: 100%;

  }
  #payment{
  	padding-bottom: 20px;
  	margin-top: 0px;
  }
  #breakdown_table, #payment_table{
  	width: 100%
  }
  #breakdown_header, #payment_header{
  	margin-left: 0px;
  }
  body{
  	min-width: 100%;
  }
  .expense{
  	float:none;
  	width: inherit;
  }
  #expense_area{
  	margin-right: 0px;
  }
  .expense_table{
  	width: 100%;
  }
  #settings_buttons{
  	margin-left:0px;
  }
  #share, #settings_buttons, #share, #logo{
  	padding-left: 0px;
  }
  #group_name{
  	padding-top: 80px;
  	float: none;
  }
}
/*@media only screen and (min-width: 736px) and (max-width: 1163px){
	.expense{
		margin-right: auto;
		margin-left: auto;
		float: none;
	}
	#right_info_bar{
		top:-15px;
	}
}*/