<html>
	<head>
		<title> trek/split - uh oh </title>
		<link rel="icon" type="image/png" href="{{ STATIC_URL }}/static/mtns.png">
		<script src="{{ STATIC_URL }}/static/scripts/google-analytics.js"></script>
		<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}/static/styles/error.css">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>
	<body>
		<h1> trek/split </h1>
		<p> something went wrong... sorry </p>
		<p> redirecting to <a href="/">treksplit.com</a> in <span id="counter">5</span> seconds </p>

		<script src="{{ STATIC_URL }}/static/scripts/redirect.js"></script>
		<script>
			redirect();
		</script>
	</body>
</html>