<html>
	<head>
		<title>trek/split - passcode?</title>
		<link rel="icon" type="image/png" href="{{ STATIC_URL }}/static/mtns.png">

		<script src="{{ STATIC_URL }}/static/scripts/google-analytics.js"></script>
		<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
		<link href="{{ STATIC_URL }}/static/styles/passcode.css" rel="stylesheet">
	</head>
	<body data-group="{{ group.id }}">
	<div id="centered">
		<p><a href="/">trek/split</a></p>
		<p> {% if group.name %} {{group.name}} {% else %} This group {% endif %}is passcode protected.</p>

		<form name="passcode" action="./" method="post">
			{% csrf_token %}
			<input id="passcode_input" name="passcode" type="password" class="faux_button" placeholder="Enter it here.">
			<button style="" id="submit" class="text_button"><i class="fa fa-arrow-right"></i></button> 
		</form>
	</div>
	</body>
</html>