<div class="expense_wrapper">
		<div class="expense" id="{{person.id}}" data-person="{{person.id}}">
			<div class="expense_header" style="background-color:#{{person.header_color}};">
				<button class="expense_button edit" ><i class="fa fa-cog"></i></button>
				<span class="expense_owner">
					<input type="text"  placeholder="name" {% if person.name %}value="{{person.name}}"{% endif %}>
				</span>
				<span class="expense_total">
					0.00
				</span>
			</div>
			<div class="edit_person_wrapper">
				<table>
					<tr>
						<td class="align_right">passcode</td>
						<td> <input class="password" type="password" placeholder="optional"></td>
					</tr>
					<tr>
						<td class="align_right"></td>
						<td> <input class="confirm_password" type="password" placeholder="confirm passcode"></td>
					</tr>
					<tr>
						<td class="align_right">email</td>
						<td> <input class="email" type="email" placeholder="optional" ></td>
					</tr>
					<tr>
						<td class="align_right">color</td>					
						<td> <input class="color" type="color" placeholder="optional" value="#{% if person.header_color %}{{person.header_color}}{% else %}8fd0ff{%endif%}"></td>
					</tr>
					<tr>
						<td colspan="2" class="align_center">
							<button class="delete_person text_button">delete person</button>
						</td>
					</tr>
				</table>

			</div>
			<table class="expense_table">
				
					<!-- hmmm this needs to load all the expenses... -->
					<!-- WHOA -->
					<!-- HOLD ON A MINUTE -->
					<!-- THIS NEEDS TO GRAB THE MOTHERFUCKIN RIGHT DUDES ID TO KNOW HIS EXPENSES -->

				{% for expense in expenses %}
					{% if expense.person_ID.id == person.id  %}
						{% include "expense.html"%}
					{% endif %}
				{% endfor %}
				<tr class="odd_row">
					<td colspan="3" class="align_center"> <button class="expense_button add"><i class="fa fa-plus"></i></button></td>
				</tr>
			</table>
		</div>
	</div>