<div id="right_info_bar">
	<div id="group_name" title="the group's name" data-group="{{ group.id }}" {% if group.name %}data-name="{{group.name}}"{% endif %}>
		
		<input id="group_title" title="click to edit the group name" class="faux_button" value="{% if group.name %}{{group.name}}{% endif %}" placeholder="add group name">
		<div class="help_box" id="help_group_name">
			<i class="fa fa-arrow-up"></i><br>
			to change the group name click above
		</div>
	</div>
	<div id="totals" class="non_editable">
		<div id="breakdown_header"> cost breakdown </div>
		<table id="breakdown_table">

			<tr class="row" id="total_header" title="group total">
				<td> total </td>
				<td>  </td>
				<td class="align_right" id="total"> <i class="fa fa-usd"></i> 0.00 </td>
			</tr>
			{% for person in people %}
			<tr class="sidebar_person_total" id="sidebar_person_total_{{person.id}}" data-person="{{person.id}}">
				<td title="the person's name"style="color:{{person.header_color}};" class="person_name"> {% if person.name %} {{person.name}} {% else %} ----- {% endif %}</td>
				
				<td class="align_right average_offset" title="the person's difference from average"> 0.00 </td>
				<td class="align_right person_total" title="the person's total"> 0.00 </td>
			</tr>
			{% endfor %}
			<tr  id="average_row" title="group average">
				<td> average </td>
				<td>  </td>
				<td class="align_right" id="average"> <i class="fa fa-usd"></i> 0.00</td>
			</tr>
		</table>
		<div class="help_box" id="help_group_total">
			<i class="fa fa-arrow-up"></i><br>
			this is a summary of everyone's expenses
		</div>
	</div>
	<div id="payment" class="non_editable">
		<div id="payment_header"> payment plan </div>
		<table id="payment_table">
			<tbody>
			<tr class="row">
				<td style="color:#8fd0ff"> Nothing </td>
				<td class="owes"> here </td>
				<td   style="color:#ffa58f"> yet </td>
				<td class="align_center money_sign"> <i class="fa fa-usd"></i></td>
			</tr>
			</tbody>
		</table>
		<div class="help_box" id="help_group_payments">
			<i class="fa fa-arrow-up"></i><br>
			this is how everyone needs to pay
		</div>
	</div>
	<div id="right_control_bar">
		{% if group.deadline %}
		<div id="warning">
			<!-- <i class="fa fa-exclamation-triangle"></i> this data may be deleted / use <a href="https://www.google.com/intl/en/chrome/browser/" target="_blank">Chrome</a> <i class="fa fa-exclamation-triangle"></i> -->
				all expenses are due by {{ group.deadline }}
				<button id="close_warning" class="text_button"> <i class="fa fa-times"></i></button>
		</div>
		{% endif %}
		<div id="extras">
			<div id="logo" class="non_editable">
				trek/split
			</div>
			<div id="settings_buttons">
				<button id="help_button" class="text_button" title="more about trek/split">help</button>
				<button id="share_button" class="text_button" title="share this trek/split group">share</button>
				<button id="settings_button" class="text_button" title="edit this group's settings">settings</button>
			</div>
<!-- 			<div id="about">
				<p>
					<button id="help_button" class="text_button"> help </button>
				</p>
				<p>
					Split up your group's expenses. Spend the extra time having fun.
				</p>
				<p>
					Created by <br><a href="http://www.domogalla.org" target="_blank">Jason Domogalla</a>
				</p>
				<p>
					Enjoy!
				</p>
				<p>
					<a href="mailto:treksplit@gmail.com">Contact Me</a>
				</p>
			</div> -->
			<div id="help">
				<div class="help_box" id="help_settings">
					<i class="fa fa-arrow-up"></i><br>
					click <strong>settings</strong> above to: <br><i class="fa fa-calendar"></i> add a group deadline<br> <i class="fa fa-lock"></i> add a group passcode<br><i class="fa fa-trash"></i> delete the group
				</div>
			</div>
			<div id="share">
				<p>
					send this link<br>
					<a href="http://www.treksplit.com/{{group.url_hash}}/">treksplit.com/{{group.url_hash}}/</a>
				</p>
				<p>
					or
				</p>
				<input type="email" class="faux_button" id="invite_email" placeholder="send an email"><button id="send_email" class="text_button">send <i class="fa fa-arrow-right"></i></button>
			</div>
			<div id="settings">
<!-- 				<div class="settings_row">
					<button id="change_passcode_requirement" title="require passcode protection for each person" class="text_button">add passcode requirement</button>
				</div>
				<div class="settings_row">
					<input type="text"	title="change the group's name" placeholder="{% if group.name %}change{% else %}add{% endif %} group name" id="change_group_name" {% if group.name %}data-name="{{ group.name }}"{% endif %} class="faux_button">
				</div> -->
				<div class="settings_row">
					<button id="deadline_toggle" class="text_button">{% if group.deadline %}change{% else %}add{% endif %} deadline</button>
					<input type="date" style="display:none;" 	title="change the deadline for expenses" placeholder="" value="{% if group.deadline %}{{group.deadline|date:"Y-m-d"}}{% endif %}" id="change_group_deadline" class="faux_button">
				</div>
				<div class="settings_row">
					<input type="password" 	title="change the passcode for the group" {% if group.passcode %}data-passcode="yes"{% endif %} placeholder="{% if group.passcode %}change{% else %}add{% endif %} group passcode" id="change_group_passcode" class="faux_button">
				</div>
				<div class="settings_row">
					<input type="password" style="display:none;" title="change the passcode for the group" placeholder="confirm passcode" id="change_group_passcode_confirm" class="faux_button">
				</div>
				<div class="settings_row">
					<button id="delete_group" title="delete this group" class="text_button delete_person" >delete group</button>
				</div>
			</div>					
		</div>
		<!-- <div id="advertisement"> -->
			<!-- <img src="./goat.jpg"> -->
<!-- 			<i class="fa fa-money fa-4x"></i>
			<i class="fa fa-random fa-3x"></i>
			<i class="fa fa-picture-o fa-5x"></i>
			<button id="hide_ad" class="text_button align_right">hide</button> -->
		<!-- </div> -->
	</div>
	<div id="right_info_background"></div>
</div>