<html>
<head>
<style>
#add_group{
	margin-left: -35px;
	margin-top: -9px;
	cursor:pointer;
}
#centered{
	position:absolute;
	left:50%;
	top:50%;
	font-size: 18px;
}
.centered_text{
	margin-left: -53px;
	margin-top: -11px;
}
body{
	/*background-image: url(https://dl.dropboxusercontent.com/u/59139532/rando%20pics/IMG_4310.jpg);*/
	font-family: Verdana, Geneva, sans-serif;
}
@media only screen and (max-width: 735px){
	#add_group{
		font-size: 18px;
	}
}
</style>
</head>
<body>
<div id="centered">
	<button id="add_group">add group</button>
</div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script>
$(document).ready(function(){
	$( "body" ).on( "click", "#add_group", function() {
		// Dump this person from the tables VIA AJAX
		$("#centered").text("TREK/SPLIT");
		$("#centered").addClass("centered_text");



		$.ajax({
		    url: '/group/0/',
		    type: 'POST',
		    data: {},
		    success: function(result) {
		   	     // put the code below in here plz
		   	     // alert(result);
		   	     window.location.replace("./" + result);
		    }
		});
	});
</body>
</html>